:root {
  --blue-background: #2B5C8F;
  --blue-foreground: #32B7FF;
}

.MainContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  height: 100%;
  color: white;
  padding-inline: 4%;
}

.Column {
  padding: 10% 0;
  height: 100%;
  margin-top: -2.5%;
  display: flex;
  flex-direction: column;
  gap: 2.5%;

  section:last-of-type {
    flex-grow: 1;
  }
}

.SectionList {
  display: flex;
  flex-direction: column;

  &.centered {
    justify-content: center;
    height: 100%;
  }
}

.MenuItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  text-transform: capitalize;
}

.MenuItem-Price {
  font-variant-numeric: tabular-nums;
}

section {
  background-color: var(--blue-foreground);
  margin-top: 2.5em;
  position: relative;
  padding-block: 2.25rem 1.5em;
  padding-inline: 2rem;

  h1 {
    position: absolute;
    top: -1.45em;
    text-transform: uppercase;
    font-size: 3rem;
  }
}
